<ion-view view-title="{{name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a collection-repeat="content in contents" href="#/app/contents/{{content.id}}" class="item item-body" >
        <h2 style="font-size: large;">{{content.name}}</h2>
        <p>{{content.created_at}}</p>
        <div class="item item-image">
          <img src="{{content.thumnail}}">
        </div>
      </a>
    </div>
    <ion-infinite-scroll ng-if='is_continue' on-infinite="loadMore()" distance="25%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>